<div class="container-fluid w-75 my-3 mx-auto">
    <div class="row gx-2 justify-content-between">
        <div class="col-md-6">
            <%- include('vehicle/') %>
        </div>
        <div class="col-md-6 d-flex flex-column justify-content-between">
            <%- include ('stats/') %>
        </div>
    </div>
</div>