<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
    <!-- Left Aligned User Information -->
    <a class="navbar-brand" href="/">
        <img src="/images/logos/logoSVG.svg" class="img-fluid brand" alt="" style="max-width: 100px;">
    </a>

    <!-- Navbar Toggler for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <% if (!user) { %>
                <a class="nav-link nav-link-ltr" href="/">Home</a>
                <a class="nav-link nav-link-ltr" href="/login">Login</a>
                <a class="nav-link nav-link-ltr" href="/register">Register</a>
            <% } else { %>
                <a class="nav-link nav-link-ltr home" href="/home">Home</a>
                <a class="nav-link nav-link-ltr log" href="/service">Log Service</a>
                <a class="nav-link nav-link-ltr logout red" href="/logout">Logout</a>
            <% } %>
        </div>
    </div>

    <!-- Right-aligned: User Information -->
    <div class="d-flex justify-content-end">
        <% if(user) { %>
            <span class="navbar-text">Logged in as: <span class="special"><%= user.username %></span></span>
        <% } %>
    </div>
</nav>
