<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Home</title>
</head>
<body>
    <h1>Welcome to 75Strong</h1>
    <span>Catchphrase for the App</span>

    <a href="/login" class="btn btn-primary">Login</a>
    <a href="/register" class="btn btn-primary">Register</a>
</body>
</html>