<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>75Strong Home</title>
</head>
<body>
    <%- include('partials/navbar/')%>

    <h1>Login Page</h1>
    
</body>
</html>