<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
    
</head>
<body> 

    <!-- <%- include('partials/navbar/')%> -->
    <img src="logo.svg" alt="">

    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
                    
                    <img src="/images/logo.svg" alt="75Strong Logo" class="mx-auto px-4">
      
                    <h2 class="fw-bold mb-2 text-uppercase mx-auto p-2 pt-3">Login</h2>
                    <p class="text-white-50 mb-3 mx-auto">Please enter your username and password below.</p>

                <form action="/login" method="POST">
                    <div class="form-outline form-white mb-4">
                      <input type="text" id="username" class="form-control form-control-lg" name="username" placeholder="Username">
                      <!-- <label for="username" class="form-label" id="username"></label> -->
                    </div>
      
                    <div class="form-outline form-white mb-4">
                      <input type="password" id="password" class="form-control form-control-lg" name="password" required placeholder="Password">
                      <!-- <label for="password" class="form-label">Password</label> -->
                    </div>
      
                    <!-- <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p> -->
  
                    <button class="btn btn-outline-light btn-lg px-5 mb-2" type="submit">Login</button> <br>

                    <span class="
                    text-white-50">or</span><br>

                    <a href="/auth/google" class="google-login-button btn btn-outline-light mt-2">Login with Google<i class="fab fa-google"></i></a>

                     <p class="small mt-2 mb-2 pb-lg-2 pt-3"><a class="text-white-50" href="/register">Don't have an account? Register here.</a></p>
                </form>
      
                  </div>
      
                  <!-- <div>
                    <p class="mb-0">Don't have an account? <a href="#!" class="text-white-50 fw-bold">Sign Up</a>
                    </p>
                  </div> -->
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>